@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
  

a{
    text-decoration: none;
    color: #000000;
}

a:hover{
    font-size: 14px;
}

li{
    display: inline;
    list-style-type: none;
}

button{
    border: none;
    outline: none;
    width: fit-content;
    height: fit-content;
    padding: 7px 7px;
    background-color: inherit;
    cursor: pointer;
    color: #000000;
}

button:hover{
    border-radius: 6px;
    font-size: 97%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:active{
    background-color: #FAFAFA;
    color: #54575B;
    font-size: 80%;
}

/*header*/

.header_first-line{
    display: block;
    height: 40px;
    background-color: #000000;
    padding-top: 16px;
    font-family: 'Open Sans';
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
}
  
.header_second-line{
    display: grid;
    height: 50px;
    grid-template-columns: 90% 10%;
    padding-top: 19px;
}

.header_second-line h1{
    color: #000000;
    font-family:'Open Sans';
    font-size: 18px;
    text-align: center;
}

.header_main-nav{
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: fit-content;
}

.header_main-nav a:nth-of-type(-n+2){
    margin-right: 10px;
}


/*first*/
.first{
    display: block;
    height: 548px;
    background-image: url("../images/main.png");
    background-position: center;
    background-size: cover;
    padding-top: 16px;
}

.first_nav{
    display:flex;
    height: 18px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    font-family: 'Open Sans';
    font-size: 13px;
    color: #000000;
    margin-left: 4vw;
    margin-right: 3vw;
}

.first_nav nav ul li {
    margin-right: 32px;
}

.first_nav-right{
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 107px;
    height: 18px;
}

.first_nav-right button{
    height: 18px;
    width: 18px;
    padding: 0;
    border: none;
}

.first_text-on p{
    font-family: 'Open Sans';
    font-size: 15px;
    float:right;
    margin-top: 30vh;
    margin-right:3vw;
    color: #000000;
}

/*second*/

.second{
    height: fit-content;
    padding:0px 6px 89px 6px;
}

.second_first-part{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    height: 351px;
}

.second_first-part div{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 107px;
    height: 68px;
    float: left;
    margin-left: 20px;
    margin-top: -95px;
}

.second_first-part div p{
    font-family: 'Open Sans';
    font-size: 14px;
}

#second{
    margin: 0 auto;
    display: block;
    font-family: 'Roboto';
    font-size: 30px;
    text-align: center;
}

.second_second-part{
    height: 447px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

#womens-eyeglasses-photo{
    display: block;
    width: 288px;
    height: 406px;
    background-image: url("/images/1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
}

#womens-eyeglasses-photo:hover{
    background-image: url("/images/1-2.png");
    background-size: cover;
}

#womens-sunglasses-photo{
    display: block;
    width: 288px;
    height: 406px;
    background-image: url("/images/2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
}

#womens-sunglasses-photo:hover{
    background-image: url("/images/2-2.png");
    background-size: cover;
}

#mens-sunglasses-photo{
    display: block;
    width: 288px;
    height: 406px;
    background-image: url("/images/3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
}

#mens-sunglasses-photo:hover{
    background-image: url("/images/3-3.png");
    background-size: cover;
}

#mens-eyeglasses-photo{
    display: block;
    width: 288px;
    height: 406px;
    background-image: url("/images/4-4.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
}

#mens-eyeglasses-photo:hover{
    background-image: url("/images/4.jpg");
    background-size: cover;
}

.second_second-part div button{
    display: block;
    margin: 0 auto;
    font-size: 18px;
    margin-top: 24px;
}

/*third*/

.third{
    background-image: url("../images/third.jpg");
    background-size: cover;
    height: 460px;
    background-position:center;
    background-repeat: no-repeat;
}

/*fourth*/

.fourth{
    display: block;
    height: 1230px;
    margin: 0 auto;
}

.fourth_first-part{
    height: 176px;
    color: #000000;
    align-items: center;
    padding-top: 72px;
}

.fourth_first-part button{
    font-size: 18px;
    margin: 0 auto;
    display: block;
}

.fourth_second-part{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;
    height: 696px;
}

.fourth_second-part div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

#fourth_first{
    display: block;
    height: 600px;
    width: 600px;
    background-image: url("/images/fourth-1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#fourth_first:hover{
    background-image: url("/images/fourth-1-2.png");
}

#fourth_second{
    display: block;
    height: 600px;
    width: 600px;
    background-image: url("/images/fourth-2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#fourth_second:hover{
    background-image: url("/images/fourth-2-2.png");
}

.fourth button{
    margin-top: 25px;
    font-family: 'Roboto';
    font-size: 17px;
}

.fourth_third-part{
    background-color: #FAFAFA;
    height: 184px;
    margin-top: 55px;
    padding-top: 77px;
}

.fourth_third-part div{
    display: flex;
    height: 56px;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.fourth_third-part div p{
    font-family: 'Open Sans';
    font-size: 19px;
    margin-top:18px;
}

.fourth_third-part form{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 286;
    height: 56px;
    padding-right: 21px;
    background-color: #FFFFFF;
}

#email{
    background-color: inherit;
    border: none;
    padding: 0;
    outline: inherit;
}

#subscribe{
    background: url('../images/mail.svg');
    background-repeat: no-repeat;
    width: 20px;
    height: 15px;
    color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
}

#subscribe:hover{
    background-size: 80%;
}

/*footer*/

footer{
    display: block;
    height: fit-content;
    background-color: #FAFAFA;
    margin: 0 auto;
    padding-bottom: 32px;
}

.footer_info{
    height: 176px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
}

.footer_info div h3{
    font-family: 'Open Sans';
    font-size: 20px;
    margin-bottom: 27px;
}

/*try*/
.arrow-cont{
    display: none;
}

.arrow-cont span{
    border: solid black;
    border-width: 0 1.5px 1.5px 0;
    display: inline-block;
    padding: 6px;
}

.arrow-up{
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.arrow-down{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
/**/

.footer_info div p{
    font-family: 'Open Sans';
    font-size: 13px;
    color: #939292;
}

.footer_info-contact{
    max-width: 102px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 32px;
    align-items: center;
}

.footer_info-contact div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer_info div ul li{
    display: block;
    margin-bottom: 8px;
}

.footer_info a{
    font-family: 'Open Sans';
    font-size: 13px;
    color: #939292;
    line-height: 24px;
    cursor: pointer;
}

.footer_info a:hover{
    color: #000000;
}

.footer_info a:visited{
    color: #213f67;
}

.bottom-line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 90%;
    flex-wrap: nowrap;
    align-items: center;
    height: 24px;
    color: #939292;
    font-family: 'Open Sans';
    font-size: 13px;
    margin:131px auto auto auto;
}

/*MEDIA*/

@media  screen and (max-width:1149px) {
    .second_second-part{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        grid-template-areas: 
        "div div"
        "div div";
        height: 900px;
        margin: o auto;
    }

    .second_second-part  div button{
        margin-top: 14px;
        margin-bottom: 10px;
    }
    

}

@media screen and (max-width:880px) {
   /* .fourth_second-part div:last-of-type{
        display: none;
    }*/
    .fourth{
        height: 1926px;
    }

    .fourth_second-part{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content:center;
        align-items: center;
        height:fit-content;
    }

    #buy-one-one{
        margin-bottom: 40px;
    }
/*hide footer menu*/
    .hide{
        display: none;
    }

    .footer_info{
        height: fit-content;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .show{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
        width: 140px;
        margin-bottom: 10px;
    }
    .arrow-cont{display: block;}
    
    .footer_info div h3{
        display: block;
        font-family: 'Open Sans';
        font-size: 20px;
        margin-bottom: 0px;
    }
}

@media screen and (max-width:700px){
    .header_main-nav a:nth-of-type(-n+2){
        display: none;
    }

    .header_second-line{
        grid-template-columns: 95% 5%;
    }

    .first{
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width:570px){
    .fourth_third-part div{
        display: flex;
        width: 286px;
        height: 117px;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        margin: 0 auto;
    }
/*main menu*/
    .krea__nav {
        display:  none;
        margin-top: 23px;
        position: absolute;
        background-color: rgba(252, 249, 249, 0.736);
        left: 0;
        min-width: 160px;
        z-index: 1;  
    }

    .burger {
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;   
    }
    
    .burger span,
    .burger::before,
    .burger::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all .2s linear;
        background-color: #000000;
    }
    
    .burger::before,
    .burger::after {
        content: "";
    }
    
    .burger::before {
        top: 0;
    }
    
    .burger::after {
         bottom: 0;
    }
    
    .burger span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    
    
    .menu__link {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        padding: 100px 5px 12px 5px;
    }


    .third{
        background-size: contain;
        height: 270px;
    }

/**/

    .second_first-part{
        height: 220px;
    }

    #second{
        font-size: 20px;
    }

/**/
.second_second-part{
    height: 450px;
}

#womens-eyeglasses-photo{
    width: 144px;
    height: 202px;
}

#womens-sunglasses-photo{
    width: 144px;
    height: 202px;
}

#mens-sunglasses-photo{
    width: 144px;
    height: 202px;
}

#mens-eyeglasses-photo{
    width: 144px;
    height: 202px;
}


.second_second-part div button{
    display: block;
    margin: 0 auto;
    font-size: 18px;
    margin-top: 24px;
}

.second_second-part  div button{
    margin-top: 6px;
    margin-bottom: 4px;
    font-size: 10px;
}

/**/

.fourth{
    height: 1100px;
}

.fourth_first-part{
    height: 50px;
    padding-top: 0;
}

#fourth_second, #fourth_first{
    height: 300px;
    width: 300px;}
}

@media screen and (max-width:500px){
    .first_text-on p{
        float:left;
        margin-left:5vw;
        color: #000000;
    }
}

@media screen and (max-width:401px){
    
.header_first-line{
    height: 35px;
    font-size: 10px;
}
}